.card_list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  grid-column-gap: 45px;
  margin: auto;
  width: 90%;
}
.card_list li {
  list-style-type: none;
  background: rgb(25, 25, 25);
  border-radius: 10px;
  margin: 20px auto;
  padding: 12px 24px;
  display: flex;
  flex-direction: column;
  color: white;
}

header {
  display: flex;
  justify-content: center;
  margin: -35px 0;
}
.movie-text {
  color: rgb(255, 232, 31);
  font-size: 12px;
  border-top: 2px solid rgb(142, 46, 46);
  padding-top: 0.6rem;
  font-size: 1rem;
}
span {
  color: rgb(157, 157, 157);
  margin: 0;
  padding: 0;
}
.card_list li:hover {
  box-shadow: 0 0 11px rgba(43, 89, 228, 0.8);
}
.movie_title h3 {
  letter-spacing: 2px;
  font-size: 1.3rem;
  margin-bottom: 0px;
  margin-top: 8px;
}
