.card_list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  grid-column-gap: 45px;
  margin: auto;
  padding: 0;
  width: 90%;
}
.card_list li {
  list-style-type: none;
  background: rgb(25, 25, 25);
  border-radius: 10px;
  margin: 20px auto;
  padding: 12px 24px;
  display: flex;
  flex-direction: column;
  color: rgb(254, 247, 247);
}

header {
  display: flex;
  justify-content: center;
  margin: -35px 0;
}
.movie-text {
  color: rgb(255, 232, 31);
  font-size: 12px;
  border-top: 2px solid rgb(142, 46, 46);
  padding-top: 0.6rem;
  font-size: 1rem;
}
span {
  color: rgb(157, 157, 157);
  margin: 0;
  padding: 0;
}
.card_list li:hover {
  box-shadow: 0 0 11px rgba(43, 89, 228, 0.8);
}
.movie_title h3 {
  letter-spacing: 2px;
  font-size: 1.3rem;
  margin-bottom: 0px;
  margin-top: 8px;
}
.no-content-container {
  margin: 48px auto;
  border-radius: 10px;
  background: rgb(25, 25, 25);
  width: 50%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.movie-detail-container {
  padding: 24px;
  width: 80%;
  margin: 0 auto 16px;
  background: rgb(25, 25, 25);
  border-radius: 10px;
}
.movie-detail-content {
  margin: auto;
  width: 100%;
  padding: 8px;
}
.movie-detail-top-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.go-home {
  color: rgb(25, 231, 111);
}
.previous {
  color: rgb(189, 182, 182);
}
.movie-detail-top-content h2 {
  font-size: 40px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
}
.movie-detail-top-content-text {
  display: flex;
  flex-direction: row;
  gap: 8px;
  color: rgb(254, 247, 247);
  flex-wrap: nowrap;
}
.movie-detail-top-content p {
  margin-bottom: 0;
}
.movie-detail-bottom-content {
  border-top: 2px rgb(76, 67, 67) solid;
  padding-top: 24px;
  font-size: 20px;
  color: rgb(189, 182, 182);
}
.movie-detail-bottom-content-text {
  font-size: 20px;
  color: rgb(189, 182, 182);
}
.movie-detail-bottom-content-list {
  padding-bottom: 24px;
}
.movie-detail-content ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-column-gap: 45px;
  padding-left: 16px;
}
.loader {
  width: 120px; /* the size */
  padding: 15px; /* the border thickness */
  background: #d8c010; /* the color */
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 45%;
  aspect-ratio: 1;
  border-radius: 50%;
  --_m: conic-gradient(#0000, #000), linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  box-sizing: border-box;
  animation: load 1s linear infinite;
}

@keyframes load {
  to {
    transform: rotate(1turn);
  }
}
@media screen and (max-width: 400px) and (min-width: 280px) {
  .card_list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .movie-detail-top-content h2 {
    font-size: 24px;
  }
  .movie-detail-top-content p {
    font-size: 8px;
  }
  .movie-detail-bottom-content {
    font-size: 14px;
  }
  .movie-detail-bottom-content-text {
    font-size: 14px;
  }
  .movie-detail-bottom-content-list {
    font-size: 12px;
  }
  .no-content-container {
    margin: 12px auto;
    width: 80%;
    padding: 15px;
  }
  .loader {
    width: 60px; /* the size */
    padding: 8px; /* the border thickness */
    left: 38%;
  }
}
