ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  grid-column-gap: 45px;
  margin: 0 auto;
  width: 90%;
}
li {
  list-style-type: none;
  background: rgb(25, 25, 25);
  border-radius: 10px;
  margin: 20px auto;
  padding: 24px;
  display: flex;
  flex-direction: column;
  color: white;
}
header {
  display: flex;
  justify-content: center;
}
.divider {
  border-top: 2px solid rgb(142, 46, 46);
}
.movie-text {
  color: rgb(255, 232, 31);
  font-size: 12px;
}
span {
  color: #6c6666;
}
li:hover {
  box-shadow: 0 0 11px rgba(43, 89, 228, 0.8);
}
